---
import { Picture } from "astro:assets";
import Layout from "../../../layouts/Layout.astro";
import rating from "../../../assets/men6.jpg";
import directus from "../../../lib/directus";
import "../../../styles/global.css";
import { readItems } from "@directus/sdk";

export async function getStaticPaths() {
  const posts = await directus.request(
    readItems("posts", {
      fields: [
        "slug",
        "image",
        "text",
        "ratings",
        "price",
        "location",
        "published_date",
        { author: ["slug", "name", "about", "avatar", "ratings_authors", "achieve", "achieve_two", "check_value"] },
      ],
      sort: ["-ratings"],
    })
  );
  return posts.map((auth) => ({ params: { slug: auth.author.slug }, props: auth }));
}

const auth = Astro.props;

const posts = await directus.request(
  readItems("posts", {
    fields: [
      "slug",
      "image",
      "text",
      "ratings",
      "price",
      "location",
      "published_date",
      { author: ["slug", "name", "about", "avatar", "ratings_authors"] },
    ],
  })
);

const Ratings_authors = (ratings_author: string) => {
  switch (ratings_author) {
    case "Best Rated Seller":
      return "bg-yellow-700";
    case "High Rated Seller":
      return "bg-blue-600";
    case "Low Rated Seller":
      return "bg-red-700";
    case "Not Rated Seller":
      return "bg-gray-500";
    default:
      return "bg-gray-500";
  }
};

const check = (check_value: string, slug:string) => {
  switch (check_value === slug) {
    case true:
      return "";
    case false:
      return "hidden";
    default:
      return "hidden"; // Fallback für andere Fälle
  }
};
---

<Layout title={`Contact ${auth.author.name}`}>
<main>

  <section>
    <!-- Container -->
    <div class="text-white mx-auto w-full max-w-7xl px-4 md:px-20 md:py-20">
      <!-- Component -->
      <div class="grid items-center gap-8 sm:gap-20 lg:grid-cols-2">
        <div class="max-w-3xl">
          <!-- Title -->
          <h2 class="mb-2 text-2xl font-bold md:text-4xl"> Want to buy <span class="text-gradient">{auth.text}</span> ? </h2>
          <p class="my-4 max-w-lg pb-4 text-md text-gray-500 sm:text-sm md:mb-6 lg:mb-8"> Are you interested in buying or want to make a deal about {auth.text}?<br> Don't hesitate to contact {auth.author.name}! </p>
          <Picture src={`https://directus-dev.fly.dev/assets/${auth.image}?width=500`} alt="Layla kruz" height={500} width={500} class="rounded-xl mr-2 inline-block object-cover w-full"/>
          <!-- Testimonial -->
           <div class="hidden lg:grid mt-5">
            <div class="mb-4 flex items-center text-orange-500">
              <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5z"></path>
              </svg>
              <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5z"></path>
              </svg>
              <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5z"></path>
              </svg>
              <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5z"></path>
              </svg>
              <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5z"></path>
              </svg>
            </div>
            <p class="mb-8 max-w-lg text-sm text-gray-500 sm:text-base"> I sold one of my homes last week and it was soo easy i just put it on the market and boom two weeks later i got it sold and the best part is the do everything i had to worry about nothing highly recommended! </p>
            <div class="flex">
              <Picture src={rating} alt="Connan Marco" class="mr-4 inline-block h-16 w-16 rounded-full object-cover"/>
              <div class="flex flex-col">
                <h6 class="text-base font-bold">Connan Marco</h6>
                <p class="text-sm text-gray-500">CEO. Bloxifys</p>
              </div>
            </div>
          </div>
        </div>
        <div transition:animate="slide" class="mx-auto max-w-xl bg-black p-8 text-center">
          <h3 class="text-2xl font-bold md:text-3xl">Contact</h3>
          <p class="mx-auto mb-6 mt-4 max-w-lg text-sm text-gray-100 lg:mb-8"> {auth.author.name} will response within 48 hours </p>
          <p class="mx-auto mb-6 max-w-lg text-[12px] sm:text-sm bg-red-700 p-2 rounded-full text-gray-100 lg:mb-8"> This Contact form is not working its just for funn :) </p>
          <!-- Form -->
          <form class="mx-auto mb-4 max-w-sm text-left" name="wf-form-password" method="get">
            <div>
              <label class="mb-1 font-medium"> Your Name </label>
              <input type="text" class="mb-4 block h-9 w-full rounded-md border border-solid border-black px-3 py-6 pl-4 text-sm text-black" required/>
            </div>
            <div class="mb-2">
              <label class="mb-1 font-medium"> Email Address </label>
              <input type="text" class="mb-4 block h-9 w-full rounded-md border border-solid border-black px-3 py-6 pl-4 text-sm text-black" required/>
            </div>
            <div class="mb-5 md:mb-6 lg:mb-8">
              <label class="mb-1 font-medium"> Message </label>
              <textarea placeholder="" maxlength="5000" name="field" class="mb-2.5 block h-auto min-h-32 w-full rounded-md border border-solid border-black p-3 text-sm text-black" required></textarea>
            </div>
            <input type="submit" value="Contact" class="mt-10 inline-block w-full cursor-pointer rounded-md bg-white px-6 py-3 text-center font-semibold text-black hover:bg-yellow-500 hover:text-black hover:scale-110 transition"/>
          </form>
        </div>
      </div>
    </div>
  </section>
<div class="border-t border-yellow-500 mt-5 text-white mx-auto mb-8 max-w-3xl text-center">
  <h2 class="mb-4 mt-6 text-xl font-bold md:text-3xl">
    Intrested in buying a home from {auth.author.name}?
  </h2>
  <p class="mx-auto mt-4 text-gray-500">
    These are homes from {auth.author.name} on the market ready to get baught!
  </p>
</div>
<ul class="gap-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 p-5 text-white">
  {
    posts.reverse().map((post) => (
      <li class={`${check(post.author.name, auth.author.name)} rounded-3xl`}>
              <section transition:name={post.slug} class="rounded-3xl hover:scale-105 transition">
                <div>
                  <a
                    href={`/homes/${post.slug}`}
                    class={`h-[530px] sm:h-[600px] border border-yellow-500 p-5 flex-col gap-4 rounded-3xl px-4 md:px-2 flex`}
                  >
                    <img
					  transition:name={post.image}
                      alt=""
                      src={`https://directus-dev.fly.dev/assets/${post.image}?width=500`}
                      class="inline h-60 w-full rounded-2xl object-cover"
                    />
                    <div class="flex h-full w-full max-w-3xl max-h-3xl flex-col items-start justify-around px-0 py-4">
                      <div class="mb-5 flex flex-col items-start gap-2">
                        <div class="rounded-md bg-black text-blue-600 font-semibold px-2 py-1.5">
                          <p transition:name={post.price} class="text-gradient-price">{post.price}</p>
                        </div>
                        <p transition:name={post.text} class="text-lg font-bold md:text-xl tracking-wide">Name: {post.text}</p>
                        <p class="text-lg font-bold md:text-xl tracking-wide">Location: {post.location}</p>
                        <p class="text-lg font-bold md:text-xl tracking-wide">Published: {post.published_date}</p>
                      </div>
                      <div class="border-t border-yellow-500 w-full mb-5"></div>
                      <div class="flex items-center sm:flex-row">
                        <div class="text-white p-1 rounded-xl flex items-center">
                          <p class="mr-3 hidden">Owner:</p>
                          <Picture src={`https://directus-dev.fly.dev/assets/${post.author.avatar}?width=500`} alt="Layla kruz" height={500} width={500} class="mr-2 inline-block rounded-full object-cover h-7 w-7 sm:h-7"/>
                          <p class="text-sm font-bold">{post.author.name}</p>
                        </div>
                        <div class="flex items-center">
                          <p class={`ml-3 text-[10px] sm:text-sm font-bold p-2 rounded-full sm:flex ${Ratings_authors(post.author.ratings_authors)}`}>{post.author.ratings_authors}</p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </section>
      </li>
    ))
  }
</ul>

</main>
</Layout>