---
import { Picture } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import directus from "../../lib/directus";
import "../../styles/global.css"
import { readItems } from "@directus/sdk";

export async function getStaticPaths() {
  const posts = await directus.request(
  readItems("posts", {
    fields: [
      "slug",
      "image",
      "second_image",
      "text",
      "ratings",
      "price",
      "location",
      "content",
      "published_date",
      { author: ["name", "avatar", "ratings_authors", "slug"] },
    ],
    sort: ["-ratings"],
  })
);
  return posts.map((post) => ({ params: { slug: post.slug }, props: post }));
}
const post = Astro.props;

const Ratings = (rating: string) => {
    switch (rating) {
      case "Best Rated":
        return "bg-yellow-600";
      case "High Rated":
        return "bg-blue-600";
      case "Low Rated":
        return "bg-red-700";
      default:
        return "bg-blue-600";
    }
  };

  const Ratings_authors = (ratings_author: string) => {
    switch (ratings_author) {
      case "Best Rated Seller":
        return "bg-yellow-400";
      case "High Rated Seller":
        return "bg-blue-600";
      case "Low Rated Seller":
        return "bg-red-700";
      default:
        return "bg-gray-500";
    }
  };
---

<Layout title={post.text}>
<main>
<div class="fullBg text-white">
    <div class="pt-6">
  
      <!-- Image gallery -->
      <div class="mx-auto mt-6 max-w-2xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="sm:grid sm:grid-cols-1 sm:gap-y-8">
          <div class="aspect-h-2 aspect-w-3 overflow-hidden sm:rounded-lg">
            <Picture quality="max" src={`https://directus-dev.fly.dev/assets/${post.image}?width=500`} alt="test" format="webp" height={500} width={500} class="w-[600px] mx-auto object-cover object-center"/>
          </div>
        </div>
        <div class="hidden lg:grid lg:grid-cols-1 lg:gap-y-8">
            <div class="aspect-h-2 aspect-w-3 overflow-hidden rounded-lg">
              <Picture quality="max" src={`https://directus-dev.fly.dev/assets/${post.second_image}?width=500`} alt="test" format="webp" height={500} width={500} class="w-[600px] mx-auto object-cover object-center"/>
            </div>
          </div>
      </div>
  
      <!-- Product info -->
      <div class="mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-16">
        <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
          <h1 class="text-2xl font-bold tracking-tight text-gray-300 sm:text-3xl"><span class="text-gradient">{post.text}</span></h1>
        </div>
  
        <!-- Options -->
        <div class="mt-4 lg:row-span-3 lg:mt-0">
          <h2 class="sr-only">Product information</h2>
          <p class="text-3xl text-white font-bold"><span class="bg-black p-1">{post.price}</span></p>
  
          <!-- Reviews -->
          <div class="mt-6">
            <div class="flex items-center">
                <p class={`mr-2 text-sm font-bold p-2 rounded-md flex ${Ratings(post.ratings)}`}>{post.ratings}</p>
              </div>
          </div>
  
          <form class="mt-10">
            <hr>
            <!-- Sizes -->
            <div class="mt-10">
              <div class="flex items-center justify-between">
                <h3 class="border bg-white text-black p-1 rounded-md text-[12px] font-medium">One Time Purchase</h3>
                <a href="#" class="text-[12px] font-medium text-white hover:underline hover:scale-110 transition">Need Help Buying?</a>
              </div>
            </div>
  
            <button class=" mt-10 flex w-full items-center justify-center rounded-md border border-transparent bg-black px-8 py-3 text-base font-medium text-white focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 focus:bg-yellow-500 focus:text-[#1d1d1d] focus:scale-105 focus:text-lg hover:bg-yellow-500 hover:text-[#1d1d1d] hover:scale-105 hover:text-lg transition">Get In Contact</button>
          </form>
        </div>
  
        <div class="py-10 lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pb-16 lg:pr-8 lg:pt-6">
          <!-- Description and details -->
          <div>
            <h3 class="sr-only">Description</h3>
  
            <div class="space-y-6">
              <p class="text-base text-gray-300"><div set:html={post.content} /></p>
            </div>
          </div>

            <a href={`/authors/${post.author.slug}`} class="rounded-xl mt-10 flex items-center gap-11 sm:flex-row">
            <div class="rounded-xl text-[#1d1d1d] p-1 homeinfoBg flex items-center">
              <Picture src={`https://directus-dev.fly.dev/assets/${post.author.avatar}?width=500`} alt="Layla kruz" height={500} width={500} class="rounded-full mr-2 inline-block object-cover h-7 w-7 sm:h-7"/>
              <p class="text-sm font-bold">{post.author.name}</p>
              <p class={`rounded-xl ml-5 text-sm font-bold p-2 sm:flex ${Ratings_authors(post.author.ratings_authors)}`} >{post.author.ratings_authors}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  </main>
</Layout>